	<div>
		<form action="/generate" method="post">
			<label for="text">Text:</label><br />
			<textarea name="text" id="text" rows="10" cols="80"></textarea><br />
			<input type="submit" value="Submit" />
		</form>
	</div>
