<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MD2PDF</title>
  <meta name="description" content="">
</head>
<body>
  <header>
	<h1>MD2PDF</h1>
  </header>
  <div role="main">
	<%= yield %>
  </div>
  <footer>
	Smashing Boxes
  </footer>
</body>
</html>
